body
{

    background-color: bisque;
    font-family: "poppins";
}
h1
{
    text-align: center;
}
#emojiListDiv
{
    width: 100%;
    display: flex;
    color: black;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;

} 
.emoji
{
    font-size: 30px;
}
.parent
{
    border: 2px solid black;
    height:100px;
    border-radius: 20px;
    width: 31%;
    display: flex;
    padding: 10px 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}